// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;

@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400&display=swap");

$material-light: (
  'background': #f2f2f2
);
$body-font-family: 'Lato', sans-serif;
$font-size-root: 20px;
$header-font-family: 'Lato', sans-serif;

.v-card__text, .v-card__title {
  word-break: normal;
}

$gradient-background: (
  'background': -webkit-linear-gradient(90deg, hsla(134, 66%, 42%, 1) 0%, hsla(164, 61%, 72%, 1) 46%, hsla(66, 86%, 86%, 1) 93%)
) 